@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;0,500;1,300&display=swap');


:root {
  --primary-color: #2F91FA;
  --primary-color-light: #63AEFF;
  --secundary-color: #433B3B;
  --background-color: #ffffff;
  --negative-color: #EA2525;
  --negative-color-light: #f15c5c;
  
}



html, body, *::before, *::after {
  margin: 0;
  padding: 0;
  
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


