.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.521);


}




.modal-message-child {
    background-color: #ffffff;
    


    
}



.modal-message {
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    min-width: 300px;
    padding: 1rem;
    animation-name: pop-animation;
    animation-duration: .3s;
    
}

.modal-actions {
    display: flex;
    gap: 10px;
}


@keyframes pop-animation {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(1);
    }
}