

.schedule-button {
    display: flex;
    align-items: center;
    flex: 1;  
    min-width: 160px;
    padding: 1rem .3rem;
    font-size: 2rem;
    color: var(--secundary-color);
    background-color: #ffffff;
    border: none;
    transition: box-shadow .6s ease, transform .6s ease;
    cursor: pointer;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
    font-size: .8rem;
    font-family: 'Josefin Sans', sans-serif;
    
    
}

@media (min-width: 500px) {
    .schedule-button {
        font-size: .9rem;
    }
}

@media (min-width: 700px) {
    .schedule-button {
        font-size: 1.1rem;
        padding: 2rem 1rem;


    }
}

@media (min-width: 900px) {
    .schedule-button {
        max-width: 320px;
    }
}


.schedule-button:hover {
    transform: translateY(-10px);
    transition: box-shadow .6s ease, transform .6s ease;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.25);
}

.schedule-button > * + * {
    margin-left: 2rem;
}




.schedule-button__icon {
    display: block;
    margin-right: 1rem;
    transform: scale(1);
    
}

@media (min-width: 500px) {
    .schedule-button__icon {

        transform: scale(1.3)
    }
}


@media (min-width: 700px) {
    .schedule-button__icon {

        transform: scale(1.7)
    }
}
