

@keyframes spinning {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spinner {
    width: 20px;
    height: 20px;
    margin: auto auto;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid var(--primary-color);
    border-left: 3px solid var(--primary-color);
    border-radius: 50%;
    
    
    animation-name: spinning;
    animation-duration: .7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;


}

.big {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto auto auto;
    width: 60px;
    height: 60px;
    border-top: 3px solid rgb(0, 187, 255);
    border-right: 3px solid rgb(0, 187, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
    border-left: 3px solid rgb(255, 255, 255);

}

