

@keyframes spinning {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spinner {
    width: 20px;
    height: 20px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-radius: 50%;
    
    
    animation-name: spinning;
    animation-duration: .7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;


}